/* dancing font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&display=swap');

/* Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&display=swap');

/* Pacifico font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

/* CSS Code for Dancing font type

        // <uniquifier>: Use a unique and descriptive class name
        // <weight>: Use a value from 400 to 700

        .dancing-script-<uniquifier> {
            font-family: "Dancing Script", cursive;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
        } */

/*  
        CSS Code for Pacifico 

        .pacifico-regular {
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-style: normal;
        } */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a,
.btn {
    transition: all 300ms ease;
}

/* NAV Desktop */

nav,
.nav-values {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-values {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.name {
    font-size: 2rem;
}

.name:hover {
    cursor: default;
}