/* dancing font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&display=swap');

/* Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&display=swap');

/* Pacifico font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #fef2f4;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}

/* NAV Desktop */

nav,
.nav-values {
  display: flex;
}

.nav-display {
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 5.3rem;
  /* margin-left: 10px;
  margin-right: 20px; */
  gap: 20px;
}

.nav-values {
  color: #d42a5b;
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

#nav-bar-desktop,
#nav-bar-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #fde6e9;
  background-color: #fef2f4;

}


a {
  color: #d42a5b;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #f27a93;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #f27a93;
}

.my-name {
  font-size: 1.5rem;
  color: #470a1f;
}

.my-name:hover {
  cursor: default;
}

.email-header {
  font-size: 1rem;
  color: #801b40;
}

/* Hamburger Menu  */

#nav-bar-mobile {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.hamburger-icon svg {
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fbd0d9;

  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  color: #d42a5b;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #d42a5b;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300rem;
}

.hamburger-icon.open svg:first-child {
  display: none;
}

.hamburger-icon.open svg:last-child {
  display: flex;
}

.hamburger-icon svg:last-child {
  display: none;
}

/* Sections */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Home Page */

#home {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  /* flex-wrap: wrap; */
}


.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.mariam-img {
  border-radius: 50%;
  box-shadow: 0px 0px 7px 0px #aaa;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1 {
  border: white 0.1rem solid;

}

.btn-color-2 {
  border: #e63f66 0.1rem solid;
  color: #e63f66;
}

div>.btn-color-2 {
  max-width: fit-content;
  background-color: white;
}

div>.btn-color-1 {
  max-width: fit-content;
  background-color: #e63f66;
  color: white;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  background-color: #d42a5b;
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* .btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
} */

/* .btn-color-1:hover {
  background: rgb(0, 0, 0);
} */

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}


/* About Section */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 50%;
  box-shadow: 0px 0px 7px 0px #aaa;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* Experience Section */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* Projects Section */


#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 0.3rem;
  width: 90%;
  height: 90%;
  box-shadow: 0px 0px 7px 0px #aaa;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.project-container {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 2 1 0.5 1;
  grid-template-areas:
    "img"
    "title"
    "bullets"
    "footer";
}

.item-1,
.item-2,
.item-3 {
  align-self: flex-end;
  grid-area: "footer";
}

.bullets {
  height: fit-content;
  margin: 0.5rem;
  grid-template-columns: 6rem 6rem;
  justify-content: center;
}

.bullets>span {
  /* padding: 0.1rem; */
  display: inline-flex;
  border: 0.1rem solid #aaa;
  color: whitesmoke;
  background-color: #777;
  border-radius: 3rem;
  margin: 1px;
  /* width: fit-content; */
  padding: 5px 15px 5px 15px;
  text-align: center;

}

/* Contact */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* Footer Section */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}